body,head,p { text-align: center;
	background: rgb(231,247,253);
	font-size: 25px;
	font-style: helvetica; 
	color: rgb(218,165,32);
	font-family: 'Shadows Into Light', cursive;
	line-height: 1.5em;
	}