

h1 {
    text-align: center;
    font-size: 100%;
    font-style: helvetica;
    color: rgb(42,182,250);
    font-family: helvetica;
    line-height: 1.5em;
}
h2, p, h3, h4 {
	text-align: center;
    font-size: 100%;
    font-style: helvetica;
    font-family: helvetica;
    line-height: 1.5em;

}

li,ul,a {
	color: rgb(42,182,250);
 	text-align: center;
    font-size: 100%;
    font-style: helvetica;
    font-family: helvetica;
    line-height: 1.5em;
    margin:40px;
    }

#two_column {
    padding: 20px;
}
#left {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
 
 @media screen only and (min-width: 434px) {
.article {
font-size: 2em;
width: auto;
float: none;
}}
@media screen only and (min-width: 434px) {
.aside {
font-size: 2em;
width: auto;
float: none;
} }
@media screen only and (min-width: 434px) {
.nav
{
font-size: 2em;
width: auto;
float: none;
} }
